{% extends 'articles/base.html' %}
{% block body %}
{% load gravatar %}
{% comment %} {% with user_profile.followings.all as followings %} {% endcomment %}
<div class='container my-3'>
  <h1 class='d-inline'>{{ user_profile.username }}의 프로필</h1>
  <h4 class="d-inline mx-3">팔로우 : {{ user_profile.followings.count }}</h4>
  <h4 class="d-inline mx-3">팔로워 : {{ user_profile.followers.count }}</h4>
  {% if user != user_profile %}
  {% if user_profile in user.followings.all %} 
  <a class='mx-3 btn btn-warning btn-lg' href="{% url 'accounts:follow' user_profile.pk %}">팔로우 취소</a>
  {% else %}
  <a class='mx-3 btn btn-outline-warning btn-lg' href="{% url 'accounts:follow' user_profile.pk %}">팔로우 하기</a>
  {% endif %}
  {% endif %}
  <div class='row'>
    <div class='col'>
      <img src="{{ user_profile.email |profile }}" alt="" class='d-block mx-auto my-5'>
    </div>
    <div class='col'>
        {% if user == user_profile %}
      <div class='container mt-4 mb-3'>
        <h3>작성한 글 [{{ user.article_set.count }}]</h3>
        {% for article in user.article_set.all %}
        <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a><br>
        {% endfor %}
      </div>
      <div class='container my-3'>
        <h3>작성한 댓글 [{{ user.comment_set.count }}]</h3>
        {% for comment in user.comment_set.all %}
        <a href="{% url 'articles:detail' comment.article_id %}">
          [{{ comment.article.title }}] 글의 [{{ comment.content }}]
        </a><br>
        {% endfor %}
      </div>
      <div class='container my-3'>
        <h3>좋아요한 글 [{{ user.like_articles.count }}]</h3>
        {% for article in user.like_articles.all %}
        <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a><br>
        {% endfor %}
        {% endif %}
        {% endblock%}
      </div>
</div>
</div>
</div>
