{% extends 'articles/base.html' %}
{% block css %}
h1 {
  text-align: center;
  mragin-righ: 100wh;
}
.id {
  text-align: right;
  margin: 0 10px;
}
table {
  margin: 20px auto;
  text-align:center;
  width: 100vw;
}
table td {
  padding-top: 15px;
}
{% endblock %}
{% block body %}
  <h1>{{ article.title }}</h1>
  <p class='id'>{{ article.id }}번 글</p>
  <p>작성일자 : {{ article.created_at }}</p>
  <p>수정일자 : {{ article.updated_at }}</p>
  <hr>
  <p>{{ article.content }}</p>
  <a href="/articles/{{ article.pk }}/edit/">수정하기</a>
  <a href="/articles/">목록으로</a>
  <a href="/articles/{{ article.pk }}/delete/">[X]</a>
{% endblock %}