{% extends 'articles/base.html' %}
{% block body %}
{% load bootstrap4 %}
  <h1 class='text-center mt-3'>{{ article.title }}</h1>
  <p class="text-right" style="font-size:0.8rem" class='id'>{{ article.id }}번 글</p>
  <p class="text-right" style="font-size:0.8rem">작성일자 : {{ article.created_at }}</p>
  <p class="text-right" style="font-size:0.8rem">수정일자 : {{ article.updated_at }}</p>
  <hr>
  <h3 class="my-3">{{ article.content }}</h3>
  {% if article.image %}
  <img src="{{ article.image.url }}" alt="{{ article.image.name }}">
  {% endif %}
  <hr>
  <h5>댓글 [{{comments.count}}]</h5>
  <div class="m-2 mt-3">
  {% for comment in comments %}
  <p>{{comment.content}}</p>
  <div class="d-flex justify-content-end">
  <p class="d-inline mr-2">{{comment.created_at}}</p>
  <form class="mx-1 d-inline-block" action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" onclick="return confirm('삭제하시겠습니까?')">
    {% csrf_token %}
    <input class="btn btn-danger btn-sm" type="submit" value="삭제하기">
  </form>
  </div>
  {% empty %}
    <p>댓글을 작성해 주세요.</p>
  {% endfor %}
  <!-- 
    두번째 방법
    {% for comment in article.comment_set.all %}
    {% endfor %}
  -->
  </div>
  <hr>
  <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
  {% comment %} <form class="mb-3 mr-3" action="{% url 'articles:comment_create' article.pk %}" method="POST"> {% endcomment %}
    {% csrf_token %}
      {% bootstrap_form  comment_form %}
      {% buttons %}
      <input class="btn btn-secondary" type="submit" value="댓글 달기">
      {% endbuttons %}
  </form>
  <div class="d-flex justify-content-center mt-5">
  <a class="btn btn-info btn-sm" href="{% url 'articles:update' article.pk %}">수정하기</a>
  {% comment %} a태그는 GET요청만 가능
  <a class="btn btn-danger btn-sm" href="{% url 'articles:delete' article.pk %}">삭제하기</a> {% endcomment %}
  <form class="mx-1 d-inline-block" action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('삭제하시겠습니까?')">
    {% csrf_token %}
    <input class="btn btn-danger btn-sm" type="submit" value="삭제하기">
    </form>
  <a class="btn btn-secondary btn-sm" href="{% url 'articles:index' %}">목록으로</a>
  </div>
{% endblock %}